# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


src-python
*.AppImage

src-tauri/models/*.tmp
src-tauri/models/discogs-effnet-bsdynamic-1.json
src-tauri/models/discogs-effnet-bsdynamic-1.onnx
src-tauri/models/mood_*-discogs-effnet-1.json
src-tauri/models/mood_*-discogs-effnet-1.onnx
src-tauri/models/danceability-discogs-effnet-1.json
src-tauri/models/danceability-discogs-effnet-1.onnx
